@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@custom-variant dark (&:where(.dark, .dark *));

@source './src/**/*.{html,js,svelte,ts,md}';
@source '../node_modules/flowbite-svelte/**/*.{html,js,svelte,ts}';
@source '../node_modules/flowbite-svelte-icons/**/*.{html,js,svelte,ts}';
@source '../node_modules/flowbite-svelte-blocks/**/*.{html,js,svelte,ts}';
@source "../node_modules/simple-datatables/dist";
@source "../node_modules/@flowbite-svelte-plugins/datatable/dist";
@import './admin.css';

@plugin 'flowbite/plugin';

@font-face {
	font-family: Univers;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/UniversRegular.woff2') format('woff2');
}

@theme {
	--z-index-100: 100;

	--color-primary-50: #fff5f2;
	--color-primary-100: #fff1ee;
	--color-primary-200: #ffe4de;
	--color-primary-300: #ffd5cc;
	--color-primary-400: #ffbcad;
	--color-primary-500: #fe795d;
	--color-primary-600: #ef562f;
	--color-primary-700: #eb4f27;
	--color-primary-800: #cc4522;
	--color-primary-900: #a5371b;

	--color-secondary-50: #f0f9ff;
	--color-secondary-100: #e0f2fe;
	--color-secondary-200: #bae6fd;
	--color-secondary-300: #7dd3fc;
	--color-secondary-400: #38bdf8;
	--color-secondary-500: #0ea5e9;
	--color-secondary-600: #0284c7;
	--color-secondary-700: #0369a1;
	--color-secondary-800: #075985;
	--color-secondary-900: #0c4a6e;
	--color-green-*: initial;
	--color-green: hsla(120, 100%, 63%, 1);

	--font-weight-*: initial;
	--font-sans: 'Univers', sans-serif;
}

@layer base {
	button,
	[role='button'] {
		cursor: pointer;
	}
}

.datatable-pagination .datatable-active a,
.datatable-pagination .datatable-active a:focus,
.datatable-pagination .datatable-active a:hover,
.datatable-pagination .datatable-active button,
.datatable-pagination .datatable-active button:focus,
.datatable-pagination .datatable-active button:hover {
	background-color: #ffe4de;
	cursor: default;
}

.datatable-wrapper .datatable-table tbody tr.selected {
	background-color: #fff1ee !important;
}

.ui-text {
	@apply text-[25px] lg:text-[48px];
}

.body-text {
	@apply text-[20px] lg:text-[28px];
}

body {
	@apply bg-green antialiased;
}

.info-content > * {
	@apply rounded-2xl px-6 pt-4 pb-5;
	outline: 3px dashed black;
}

.info-content > * + * {
	@apply mt-8;
}

.input-container {
	@apply my-4 flex items-center gap-4;
}

.input-container input {
	@apply min-w-0 rounded-full border-0 bg-transparent px-5 pb-5 focus:ring-0 lg:pt-4 lg:text-[24px];
	outline: 3px dashed black;
	outline-offset: -3px;
}

.ai-description {
	-webkit-text-stroke: 0.5px black;
}
@media (width >= 64rem) {
	.ai-description {
		-webkit-text-stroke: 1.5px black;
	}
}

.dashed-box {
	/* background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='36' ry='36' stroke='black' stroke-width='6' stroke-dasharray='16' stroke-dashoffset='18' stroke-linecap='butt'/%3e%3c/svg%3e");
	border-radius: 36px; */
	outline: 3px dashed black;
}
